@using WebCRUD.Models.ViewModel
@model FilmDetailVM

<table>
    <tr>
        <td></td>
        <td>@Model.FilmName</td>
    </tr>
    <tr>
        <td></td>
        <td>@Model.CategoryName</td>
    </tr>
    <tr>
        <td></td>
        <td>@Model.Duration</td>
    </tr>
    <tr>
        <td></td>
        <td>@Model.Description</td>
    </tr>
    <tr>
        <td></td>
        <td>
            <ul></ul>
        </td>
    </tr>
</table>