@model IEnumerable<Film>
@foreach (Film film in Model)
{
    <div class="card d-inline-block">

        <img src="https://picsum.photos/200/300?grayscale" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">@film.FilmName</h5>
            <p class="card-text">@film.Description</p>
            <a asp-action="Details" asp-route-id="@film.FilmID" class="btn btn-primary">Künye</a>
        </div>

    </div>

}